/***********************************************************************************************/
/* =Preloader */
/***********************************************************************************************/ 

#preloader {
	background-color: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999999;
  }

#loading-animation {
  background-image: url("../images/loading.gif") ;
  opacity: 0.7;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  border-radius: 4px;
}

#loading-animation.load-const {
  background-image: url("../images/loading-c.gif") ;
}
  
#loading-animation.load-port {
  background-image: url("../images/loading-p.gif") ;
}